
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>

  <h2>Resources</h2>
  <app-post></app-post>
  <p>{{titleTwo}}</p>
  <p>{{number}}</p>
  <p>{{arr}}</p>
  <p>{{obj.a}}</p>
  <p>{{obj.b.c}}</p>
  <p>{{obj.b}}</p>
  <!--<img src="{{imageReact}}">-->
  <!--это односторонний байдинг. Мы связываем шаблон с тайпскриптом а не наоборот. Этот синтаксис предпочтительней, так как
  в нем заложено больше оптимизации чем то как выше интерполяция-->
  <!--<img [src]="imageReact">-->
  Мы хотим слушать события инпут. Как значение мы должны передать метод, который будет принимать тайпскрипт с определенным аргументом
   <input type="text" (keyup.enter)="onInput($event)" (blur)="onBlur(myInput.value)" #myInput>
  <p><strong>{{inputValue}}</strong></p>

  <button (click)="onClick()">Click me!</button>
  </body>
  </html>
